site_name: Arista AVD Fabric Documentation.
site_author: Arista Ansible Team
site_description: Arista Cloudvision collection's documentation
docs_dir: documentation/
# site_favicon: docs/_media/favicon.ico
theme:
  name: material
  features:
    - instant
extra_css:
  - stylesheet.css
copyright: Copyright &copy; 2019 - 2020 Arista Networks
repo_name: Github
repo_url: https://github.com/aristanetworks/ansible-cvp
use_directory_urls: true
nav:
  - Home: README.md
  - Fabric overview:
      - IPAM: DC1_FABRIC/{{ fabric_name | upper}}.md
  - Devices documentation:
{% for device in groups[fabric_name] %}
      - {{ device }}: devices/{{ device }}.md
{% endfor %}